#networks {
  position: fixed;
  z-index: 800;
  display: flex;
  align-items: center;
  height: 70vh;
  font-size: 20px;
  right: 0px;
}

#networks .item-1 {
  background-color: #2323c5;
  color: white;
  padding: 9px 13px;
  text-align: center;
  border-top-left-radius: 7px;
}

#networks .item-2 {
  background-color: #d40924;
  color: white;
  padding: 9px 13px;
  text-align: center;
}

#networks .item-3 {
  background-color: #219239;
  color: white;
  padding: 9px 13px;
  text-align: center;
}

#networks .item-4 {
  background-color: rgb(31, 202, 216);
  color: white;
  padding: 9px 13px;
  text-align: center;
  border-bottom-left-radius: 7px;
}
#networks .item-5 {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 9px 13px;
  text-align: center;
}
#networks .item-6 {
  background: radial-gradient(
    circle at 30% 100%,
    #feda75 0%,
    #fa7e1e 25%,
    #d62976 50%,
    #962fbf 75%,
    #4f5bd5 100%
  );
font-size: 1.5rem;
  color: white;
  padding: 9px 13px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #networks {
    display: none;
  }
}
